* { 
    padding: 0;
    margin: 0;
    text-decoration:none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

h1 {
 font-weight: bolder;   
 color:black;
 margin: auto;

}
ul {
    font-style: italic;
    list-style: none;
}

body{
    width: 100vw;
    height: 100vh;
}

main{
    height: 100%;
    position: relative;
}

.body {
    background: url(my1.jpg);
    background-size: cover;   
    text-align: center;
}

a {
    color: black;
}
.my{
    width: 100%;
    display: flex;
}

.my img{
    border-radius: 10%;
}
.trybe{
    background: url(/portfolio_web/trybe.jpeg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px;
    display: flex;
}

.contato{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}